    <div class="container-fluid">
      <div class="page-header">
        <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i> Setup complete !</h1>
      </div>
      <div class="alert alert-success">Your setup is complete, BotchFramework is ready. :)</div>
    </div>

    <div class="container-fluid">
      <footer class="footer">
        <div class="text-muted">BotchFramework</div>
      </footer>
    </div>
  </body>
</html>
